
:root {
  --background-default: #fff4f7;
  --primary-default: #000000;
}


body {
  background: var(--background-default);
  color:var(--primary-default);
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .grid-container-list {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .grid-container-main {
    padding: 6px 0px;
  }

  .grid-container-list {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
  }

  .grid-container-header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0px;
  }

  .login-page {
    width: 330px;
    padding: 30px;
  }
}

@media screen and (max-width: 576px) {
  .grid-container-list {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
    
  }
}


